*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.temp
/caches
/native
/wraper
/.gradle
/android
/daemon
/jdks
/kotlin-profile
/native
/wrapper
functions/firebase-debug.log
functions/sistema-autenticacion-firebase-74577d404c.json